pipeline/Einstein_Get_SampleManager.json
{
	"name": "Einstein_Get_SampleManager",
	"properties": {
		"activities": [
			{
				"name": "Loop through Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Insert into Temp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[GIF].[usp_Get_AUAT_Table]",
								"storedProcedureParameters": {
									"Table_Name": {
										"value": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_GTL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Insert into Temp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SM_CHILD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DestinationFileName": {
										"value": "@item().DestinationFileName",
										"type": "Expression"
									},
									"DestPath": {
										"value": "@item().DestPath",
										"type": "Expression"
									},
									"LogID": {
										"value": "@item().LogID",
										"type": "Expression"
									},
									"ObjectID": {
										"value": "@item().ObjectID",
										"type": "Expression"
									},
									"FileName": {
										"value": "@item().FileShortName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored Procedure2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[GIF].[Sp_Retail_SL_Get_Laision_SourceDestination_Path]",
						"storedProcedureParameters": {
							"ConnectorID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ConnectorID",
									"type": "Expression"
								}
							},
							"FilePath": {
								"type": "String",
								"value": "/SAP HANA/"
							},
							"PathID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.PathID",
									"type": "Expression"
								}
							},
							"ProjectID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ProjectID",
									"type": "Expression"
								}
							},
							"SystemID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SystemID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_Oracle_src",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored Procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[GIF].[Sp_Retail_IR_SL_Set_Stage_FileLog]",
					"storedProcedureParameters": {
						"ConnectorID": {
							"value": {
								"value": "@pipeline().parameters.ConnectorID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PathID": {
							"value": {
								"value": "@pipeline().parameters.PathID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ProjectID": {
							"value": {
								"value": "@pipeline().parameters.ProjectID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SystemID": {
							"value": {
								"value": "@pipeline().parameters.SystemID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TaskGroupID": {
							"value": {
								"value": "@pipeline().parameters.TaskGroupID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_GTL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ConnectorID": {
				"type": "int"
			},
			"ProjectID": {
				"type": "int"
			},
			"TaskGroupID": {
				"type": "int"
			},
			"PathID": {
				"type": "int"
			},
			"SystemID": {
				"type": "int"
			}
		},
		"folder": {
			"name": "CIF/SR/SM"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}