pipeline/Einstein_Sl_Adf_CopyFile_FS_Landing.json
{
	"name": "Einstein_Sl_Adf_CopyFile_FS_Landing",
	"properties": {
		"activities": [
			{
				"name": "CIF_FS_Landing_Path",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update Task Log Started",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CIF].[Sp_Einstein_SL_Get_FS_SourceDestination_Path]",
						"storedProcedureParameters": {
							"FilePath": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.FilePath",
									"type": "Expression"
								}
							},
							"PathID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.PathID",
									"type": "Expression"
								}
							},
							"ProjectID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ProjectID",
									"type": "Expression"
								}
							},
							"SystemID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SystemID",
									"type": "Expression"
								}
							},
							"ConnectorID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ConnectorID",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "Ds_GIF_Dmz_FilePathLookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GIF_Iterate_DmzLanding_Path",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CIF_FS_Landing_Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CIF_FS_Landing_Path').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Landing_Dest",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureDataLakeStoreWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sftp_src",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Path": {
											"value": "@pipeline().parameters.FilePath",
											"type": "Expression"
										},
										"File_Path": {
											"value": "@Item().SourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_dest",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Path": {
											"value": "@concat('/RAW/W00008-EIN-GTL/GTL-STCA-LAB/INITIAL/',Item().DestPath,'/')",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@Item().DestinationFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update FileLog IsProcessed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_Landing_Dest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CIF].[Sp_CIF_Set_FileLog_IsProcessed_Update]",
								"storedProcedureParameters": {
									"DestFileName": {
										"value": {
											"value": "@Item().DestinationFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"LogID": {
										"value": {
											"value": "@item().LogID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ParentObjectID": {
										"value": {
											"value": "@item().ParentObjectID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_GTL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Update_ScheduleTime",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GIF_Iterate_DmzLanding_Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CIF].[Sp_CIF_Set_TaskGroup_Schedule_Update]",
					"storedProcedureParameters": {
						"TaskGroupID": {
							"value": {
								"value": "@pipeline().parameters.TaskGroupID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_GTL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Task Log Started",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CIF].[Sp_Einstein_Set_Object_Task_Execution_Log]",
					"storedProcedureParameters": {
						"Collected": {
							"value": "0",
							"type": "Int32"
						},
						"ErrorDesc": {
							"value": {
								"value": "No Error",
								"type": "Expression"
							},
							"type": "String"
						},
						"GroupID": {
							"value": {
								"value": "@pipeline().parameters.TaskGroupID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"InRowcount": {
							"value": "0",
							"type": "Int32"
						},
						"IobjectID": {
							"value": "0",
							"type": "Int32"
						},
						"LogText": {
							"value": {
								"value": "Extracting files from  file system to Raw layer",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "1",
							"type": "Int32"
						},
						"OutRcount": {
							"value": "0",
							"type": "Int32"
						},
						"RejectedCount": {
							"value": "0",
							"type": "Int32"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Severity": {
							"value": "3",
							"type": "Int32"
						},
						"Spresent": {
							"value": "1",
							"type": "Int32"
						},
						"Success": {
							"value": "1",
							"type": "Int32"
						},
						"TaskID": {
							"value": {
								"value": "@pipeline().parameters.TaskID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TaskName": {
							"value": {
								"value": "Einstein_Sl_Adf_CopyFile_FS_RawLayer",
								"type": "Expression"
							},
							"type": "String"
						},
						"SystemID": {
							"value": {
								"value": "@pipeline().parameters.SystemID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_GTL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Task Log Ended",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update_ScheduleTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CIF].[SpEinstein_Set_Object_Task_Execution_Update]",
					"storedProcedureParameters": {
						"GroupID": {
							"value": {
								"value": "@pipeline().parameters.TaskGroupID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"LogType": {
							"value": "2",
							"type": "Int32"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskID": {
							"value": {
								"value": "@pipeline().parameters.TaskID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SystemID": {
							"value": {
								"value": "@pipeline().parameters.SystemID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_GTL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ZoneID": {
				"type": "int"
			},
			"PathID": {
				"type": "int"
			},
			"SystemID": {
				"type": "int"
			},
			"TaskGroupID": {
				"type": "int"
			},
			"FilePath": {
				"type": "string"
			},
			"ProjectID": {
				"type": "int"
			},
			"TaskID": {
				"type": "int"
			},
			"ConnectorID": {
				"type": "int"
			}
		},
		"folder": {
			"name": "CIF/SR/FS"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}