pipeline/SM_CHILD.json
{
	"name": "SM_CHILD",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[GIF].[Sp_GIF_Get_Table_Query]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_Oracle_src",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapHanaSource",
									"query": {
										"value": "@item().Extraction_Query",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Oracle_src",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_ct",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Update Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[GIF].[Sp_GIF_Set_FileLog_IsProcessed_Update]",
								"storedProcedureParameters": {
									"DestFileName": {
										"value": {
											"value": "@pipeline().parameters.DestinationFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"LogID": {
										"value": {
											"value": "@pipeline().parameters.LogID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ParentObjectID": {
										"value": {
											"value": "@pipeline().parameters.ObjectID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_GTL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DestinationFileName": {
				"type": "string"
			},
			"DestPath": {
				"type": "string"
			},
			"LogID": {
				"type": "int"
			},
			"ObjectID": {
				"type": "int"
			},
			"FileName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "CIF/SR/SM"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}